<ion-content class="login-content">
  <div class="background-wrapper">
    <form (ngSubmit)="login()">
      <div class="input-group">
        <ion-item>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>

      <ion-button type="submit" expand="block">Log in</ion-button>
      <ion-button type="button" expand="block" color="light" fill="clear">
        Not yet a member? Sign up!
      </ion-button>

      <ion-button type="button" expand="block" color="tertiary">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Sign in with Google
      </ion-button>

      <ion-button type="button" expand="block" color="tertiary">
        <ion-icon name="logo-apple" slot="start"></ion-icon>
        Sign in with Apple
      </ion-button>
    </form>
  </div>
</ion-content>