<ion-card style="margin-top: 60px; height: fit-content; overflow-y: auto;">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

        <div>
            <label for="row">Row No:</label>
            <input formControlName="row" placeholder="Row">
            <hr>
        </div>

        <div>
            <label for="col">Column No:</label>
            <input formControlName="col" placeholder="Column">
            <hr>
        </div>

        <div>
            <label for="empcode">Emp Code:</label>
            <input formControlName="empcode" placeholder="Employee Code">
            <div style="color: red;"
                *ngIf="myForm.get('empcode')?.invalid && (myForm.get('empcode')?.dirty || myForm.get('empcode')?.touched)">
                Please provide a valid Employee code.
            </div>
            <hr>
        </div>

        <div>
            <label for="name">Name:</label>
            <input formControlName="name" placeholder="Your name">
            <hr>
        </div>
        <div>
            <label for="last">Last Name:</label>
            <input formControlName="last" placeholder="Your lastname">
            <hr>
        </div>

        <button type="submit" [disabled]="myForm.invalid">Submit</button>
    </form>
</ion-card>