<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" color="danger" size="large"  name="logo-youtube"></ion-icon>
    <ion-title class="tittle" >Youtube</ion-title>
    <ion-icon slot="end" size="large" name="tablet-landscape-outline"></ion-icon>
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
    <ion-icon slot="end" size="large" name="search-outline"></ion-icon>

  </ion-toolbar>
</ion-header>


<ion-content>
  
<!-- <div class="swipper">
<ion-grid fixed>
  <ion-row>
    <ion-col >
      <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <ion-avatar class="col">
          <img src="../../assets/unnamed.png" />
        </ion-avatar>
      </div>
    </ion-col>
      </ion-row>
</ion-grid> -->


<!-- </div> -->

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <ion-avatar class="col">
              <img src="../../assets/ecommerce-illustracion-v2-1024x683.jpg" />
            </ion-avatar>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>



  <ng-container *ngFor="let i of menus; ">
    <app-video-card class="ion-no-padding"></app-video-card>
  </ng-container>
</ion-content>