ion-icon {
    padding: 5px;
    }
.tittle {
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        padding-left: 11% !important;
    }

    // .swipper{
    //     overflow-y: hidden;
    //     overflow-x: scroll;
    //     white-space: nowrap;
    
    //     .col{
    //         display: inline-block;
    //     }
    // }
.swiper::-webkit-scrollbar {
        width: 0%;
        height: 0%;
    }
    .swiper {
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }
    

.swiper-slide {
    display: inline-block;
        flex: 0 0 auto;
        margin-right: 10px; /* Optional: add margin between avatars */
    }    

    .col{
        display: inline-block;
        height: 70px;
        width: 70px;
    }