<ion-content>
    <h1 style="color: black;">Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda illo magnam, ipsum ipsam nostrum
        exercitationem
        excepturi minima, iste obcaecati quae laboriosam reprehenderit, eaque repellendus quisquam in eius ex dolorem
        quod.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam incidunt voluptatum, sapiente vero nostrum
        possimus
        omnis rerum dignissimos quis totam, itaque illum libero harum odio quae recusandae ipsa quas fugiat?
    </p>
</ion-content>