.glassBack {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.62);
}
.table-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 50px;
  border-radius: 8px;
  font-weight: bold;
  margin: 4px;
  margin-left: 15px;
  transition: background-color 1s;
  user-select: none;
}
.chair-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
  width: 30px;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 25px;
  transition: background-color 1s;
  user-select: none;
}

p {
  font-family: inter;
  font-weight: 600;
  margin-left: 6px;
}
