ion-icon {
    padding: 5px;
    }
.tittle {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 11% !important;
}
.swipper{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    .ion-chip{
        display: inline-block;
        padding: 3px;
        padding-bottom: 0%;
        padding-top: 2px;
    }
    .label{
        font-weight: bold;
        padding: 3px;
    }

}
.swipper::-webkit-scrollbar {
    width: 0%;
    height: 0%;
}

