

<ion-content>

  <ion-card class="card">
    <ion-grid >
      <ion-row>
        <ion-col size="3"> 
          <ion-avatar >
          <img src="../../assets/ecommerce-illustracion-v2-1024x683.jpg" />
        </ion-avatar></ion-col>
        <ion-col size="9">  
          <h2>Ansh kumar</h2>
          <p>ansh&commat;apple.com</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="swipper">
 
    <ion-chip class="chip" color="dark" mode="ios" outline="true">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>Switch Account</ion-label>
    </ion-chip>
    
    <ion-chip color="dark" class="chip" mode="ios" outline="true">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Turn on incognito</ion-label>
    </ion-chip>
    
    <ion-chip class="chip" color="dark" mode="ios" outline="true">
      <ion-icon  name="logo-google"></ion-icon>
      <ion-label>Google Account</ion-label>
    </ion-chip>

</div>

  <h2 style="font-weight: bold;">History</h2>
  <div class="swipper">

    <div class="card">
      <ion-card >
        <ion-img class="img" src="../../assets/unnamed.png"></ion-img>    
        <p>This is a informational video.</p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card>
        <ion-img src="../../assets/RWD_Common_Risks_with_Ecommerce_Blog_v1.webp"></ion-img>
        <p>This is a informational video.</p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card>
        <ion-img src="../../assets/unnamed.png"></ion-img>
        <p>This is a informational video.</p>
      </ion-card>
    </div>
    <div class="card">
      <ion-card>
        <ion-img src="../../assets/RWD_Common_Risks_with_Ecommerce_Blog_v1.webp"></ion-img>
        <p>This is a informational video.</p>
      </ion-card>
    </div>

  </div>

<!-- 
<swiper-container class="mySwiper" pagination="true" navigation="true" pagination-bullets="true" loop="true"
centered-slides="true" pagination-clickable="true" lazy="true" preloadImages="false" autoplay-delay="2500" autoplay-disable-on-interaction="false" >

<swiper-slide  class="swiper-slide"  *ngFor="let post of posts">
<ion-grid>
<ion-row >
<ion-col size="{{post.imgSize}}">
<img style="width: 100%;" src="{{ post.img }}" alt="">
</ion-col>
<ion-col size="{{post.contentSize}}" class="post-content"  [style.display]="post.contentDisplay" >
<p class="post-header"><b>{{post.header}}</b></p>
<ion-item lines="none">
    <p class="p-content" >{{post.content}}</p>
 </ion-item>
 <a class="link" href="{{post.link}}" target="_blank"> ( Read More )</a>

<h6 class="post-footer" > <b> {{post.footer}} </b> </h6>

</ion-col>
</ion-row>
</ion-grid>
</swiper-slide>
</swiper-container>-->

<ion-grid fixed>
  <ion-row>
    <ion-col size="1">
      <ion-icon class="icon" name="disc-outline"></ion-icon>
    </ion-col>
    <ion-col size="11">
  
      <h4>Your Videos</h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">
      <ion-icon class="icon" name="download-outline"></ion-icon> 
    </ion-col>
    <ion-col size="11">
    
      <h4>Downloads</h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">
      <ion-icon class="icon" name="play-outline"></ion-icon>
    </ion-col>
    <ion-col size="11">
      
      <h4>Playlist</h4>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content> 