<ion-header>
  <ion-toolbar mode="ios">
    <ion-icon slot="start" color="danger" size="large"  name="logo-youtube"></ion-icon>
    <ion-title class="tittle" >Youtube</ion-title>
    <ion-icon slot="end" size="large" name="tablet-landscape-outline"></ion-icon>
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
    <ion-icon slot="end" size="large" name="search-outline"></ion-icon>

  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
