<ion-header>
  <ion-toolbar mode="md">
    <ion-icon slot="start" color="danger" size="large"  name="logo-youtube"></ion-icon>
    <ion-title class="tittle" >Youtube</ion-title>
    <ion-icon slot="end" size="large" name="tablet-landscape-outline"></ion-icon>
    <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
    <ion-icon slot="end" size="large" name="search-outline"></ion-icon>

  </ion-toolbar>
</ion-header>


<!-- <div *ngIf="selectTab">
  <ion-header>
    <ion-toolbar>
      <ion-icon slot="start" size="large" color="danger"  name="logo-youtube"></ion-icon>
      <ion-title class="tittle" >Youtube</ion-title>
      <ion-icon slot="end" size="large" name="tablet-landscape-outline"></ion-icon>
      <ion-icon slot="end" size="large" name="notifications-outline"></ion-icon>
      <ion-icon slot="end" size="large" name="search-outline"></ion-icon>
      <ion-icon slot="end"  size="large" name="settings-outline"></ion-icon>
      </ion-toolbar>
  </ion-header>
</div> -->

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="albums"></ion-icon>
      <ion-label>Subscription</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3 ">
      <ion-icon name="skull"></ion-icon>
      <ion-label class="ion-no-margin">You</ion-label>
      
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
