<ion-header style="">
  <ion-toolbar mode="md">
    <ion-icon *ngIf="!isSearchActive" (click)="onClick()" style="padding-left: 5%;" slot="start" color="danger"
      size="large" name="logo-youtube"></ion-icon>
    <ion-title style="padding: 1% !important;" *ngIf="!isSearchActive" class="tittle">Youtube</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tab1" (click)="switchtab('tab1')">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="switchtab('tab2')">
      <ion-icon aria-hidden="true" name="albums"></ion-icon>
      <ion-label>Subscription</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>