.table-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  margin: 4px;
  transition: background-color 1s;
  user-select: none;
}
.chair-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  width: 70%;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 12px;
  transition: background-color 1s;
  user-select: none;
}

ion-popover {
  /* From https://css.glass */
  --background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.62);
  --backdrop-opacity: 0;
  --max-width: 150px;
}
